{% extends 'base.html.twig' %}

{% block title %}
    {{ adCategory.name }}
{% endblock %}

{% block body %}
    <h1>{{ adCategory.name }}</h1>
    {% if adCategory is defined and adCategory|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ adCategory.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{  adCategory.name }}</dd>
            <dt>{{ 'label.createdAt'|trans }}</dt>
            <dd>{{ adCategory.createdAt|format_date(locale='pl') }}</dd>
            <dt>{{ 'label.updatedAt'|trans }}</dt>
            <dd>{{ adCategory.updatedAt|format_date(locale='pl') }}</dd>
        </dl>
        <p>
            <a href="{{ url('adCategory_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}